- content_for :navigation do
  %li
    %a.btn.primary{href: '#save'} Save
  - if defined?(edit) && edit
    %li
      %a.btn.cancel{href: '#cancel'} cancel
    %li#saveStatus

.editor
  %form{document_editor_params(document, defined?(edit) && edit)}
    %textarea{name: 'document[source]'}= document.source
    - if defined?(edit) && edit
      %input{type: 'hidden', name: '_method', value: 'PUT'}
      %input{type: 'hidden', name: 'document[original]', value: document.source}
      %input{type: 'hidden', name: 'document[key]', value: document.key}
    %input{type: 'text', name: 'document[donotfill]', value: '', placeholder: 'Do Not Fill'}
  %article#preview= document.compiled
  %a.btn.link#preview-link{href: '#preview', title: "Preview changes (Alt-P)"}
    %img{src: '/images/eye.png', alt: 'P'}

- content_for :scripts do
  %script{src: "/scripts/keymage.min.js"}
  %script{src: "/scripts/editor.js"}
