- content_for :navigation do
  %li
    %a.btn.primary{href: '#save'} Save
  %li
    %a.btn.cancel{href: url("/#{defined?(edit) && edit ? document.key : nil}")} cancel

.editor
  %form{document_editor_params(document, defined?(edit) && edit)}
    %textarea{name: 'document[source]'}= document.source
    - if defined?(edit) && edit
      %input{type: 'hidden', name: '_method', value: 'PUT'}
  %article#preview= document.compiled
  %a.btn.link#preview-link{href: '#preview', title: "Preview changes (Alt-P)"} P

- content_for :scripts do
  %script{src: "/scripts/keymage.min.js"}
  %script{src: "/scripts/editor.js"}
