.editor
  %form{document_editor_params(document, defined?(edit) && edit)}
    %p
      %input{type: 'submit', name: 'commit', value: 'Save'}
      or
      %a.cancel{href: url("/#{defined?(edit) && edit ? document.key : nil}")} cancel
    %textarea{name: 'document[source]'}= document.source
    - if defined?(edit) && edit
      %input{type: 'hidden', name: '_method', value: 'PUT'}
