- content_for :navigation do
  %li
    %a{href: '#save'} Save
    -# %input{type: 'submit', name: 'commit', value: 'Save'}
  %li
    or
    %a.cancel{href: url("/#{defined?(edit) && edit ? document.key : nil}")} cancel
.editor
  %form{document_editor_params(document, defined?(edit) && edit)}
    %textarea{name: 'document[source]'}= document.source
    - if defined?(edit) && edit
      %input{type: 'hidden', name: '_method', value: 'PUT'}
  %article= document.compiled

- content_for :scripts do
  :javascript
    var textarea = document.querySelector('form textarea'),
        preview  = document.querySelector('article'),
        pos      = textarea.value.length * 2,
        dirty    = false

    textarea.focus()
    textarea.setSelectionRange(pos, pos)
    textarea.addEventListener('keyup', function(ev) {
      dirty = true
    }, false)

    updatePreview = function() {
      if (!dirty) return;
      console.log("Updating")
      var xhr = new XMLHttpRequest()
      xhr.onreadystatechange = function() {
        if (xhr.readyState == 4 && xhr.status == 200) {
          preview.innerHTML = xhr.responseText
          dirty = false
        }
      }
      xhr.open('POST', '/render', true)
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded')
      xhr.send('source=' + encodeURIComponent(textarea.value))
    }
    window.setTimeout(function() {
      updatePreview()
      window.setTimeout(arguments.callee, 1000)
    }, 1000)


    var saveButton = document.querySelector('a[href="#save"]')
    saveButton.addEventListener('click', function(ev) {
      document.forms[0].submit()
      ev.preventDefault()
    }, false)

