!!! 5
%html{html_attrs('en')}
  %head
    %title
    %link{href: "http://fonts.googleapis.com/css?family=Merriweather+Sans:300,700&subset=latin,latin-ext", rel: "stylesheet"}
    %link{href: "/stylesheets/normalize.min.css", rel: "stylesheet"}
    %link{href: "/stylesheets/jellybeans.css", rel: "stylesheet"}
    %link{href: "/stylesheets/application.css", rel: "stylesheet"}
    %link{rel: "favicon", href: "/favicon.ico"}
  %body
    %nav
      = yield_content :navigation
      %li
        %a{href: url("/new")} New
    = yield
    = yield_content :scripts
