!!! 5
%html{html_attrs('en')}
  %head
    %title #{title} mdwn.in
    %link{href: "http://fonts.googleapis.com/css?family=Merriweather+Sans:300,700&subset=latin,latin-ext", rel: "stylesheet"}
    %link{href: "/stylesheets/normalize.min.css", rel: "stylesheet"}
    %link{href: "/stylesheets/jellybeans.css", rel: "stylesheet"}
    %link{href: "/stylesheets/application.css", rel: "stylesheet"}
    %link{rel: "favicon", href: "/favicon.ico"}
  %body
    %nav
      = yield_content :navigation
      %li
        %a.btn{href: url("/new")} New
    = yield
    = yield_content :scripts
    %footer
      %a{href: url('/')} mdwn.in
      is brought to you with Markdown love by
      %a{href: 'http://twitter.com/madx'} @madx
      for
      %a{href: 'http://twitter.com/putaindecode'} @putaindecode
