- content_for :navigation do
  %li
    %a.btn{href: url("/#{document.key}/edit")} Edit
  %li
    %a.btn.link{href: url("/#{document.read_only_key}")} Share
= haml :document, locals: { document: document }
